.registrasi-page {
    .card {
        max-width: initial;
    }
    @media screen and (min-width: 300px) {
        .card {
            width: 100%;
        }
    }
    @media screen and (min-width: 500px) {
        .card {
            width: 450px;
        }
    }
    @media screen and (min-width: 768px) {
        .card {
            width: 650px;
        }
    }
}